//var
$pr-bg-main: hsl(233, 47%, 7%);
$pr-bg-card: hsl(244, 38%, 16%);
$pr-accent: hsl(277, 57%, 44%);
$ne-white-main-heading-stats:hsl(0, 0%, 100%);
$ne-main-paragraph: hsla(0, 0%, 100%, 0.75);
$ne-stat-heading: hsla(0, 0%, 100%, 0.6);

//Fonts
$inter: 'Inter',
sans-serif;
$lexend: 'Lexend',
sans-serif;