@import 'var';
////////////


@mixin flex($flex-col: true) {
    @if $flex-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @else {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

////////////
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $pr-bg-main;
    color: aliceblue;
    min-width: 375px;
    // max-width: 1440px;
    font-size: 15px;
    font-family: $inter;
}

@keyframes link {
    0% {
        color: 
        #80f5db;
    }

    10% {
        color: 
        #26b6a7;
    }

    25% {
        color: 
        #1da19d;
    }

    // 35% {
    //     color: rgb(226, 159, 15);
    // }

    // 50% {
    //     color: rgb(158, 16, 146);
    // }

    // 20% {
    //     color: rgb(231, 95, 31);
    // }
}

.attribution {
    font-size: 17px;
    text-align: center;
    font-family: $lexend;

    a {
        color: hsl(155, 45%, 44%);
        text-decoration: none;

    }

    :last-child {
        animation: link 3s linear infinite alternate;
        // transition: ease-in-out 1s black ;
        color: cyan;
    }
}


.container {
    position: relative;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    padding: 3rem 1rem;



    .card {
        width: 100%;



        &__img {
            position: relative;
            width: 100%;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            overflow: hidden;



            &::before {
                content: '';
                background-color: $pr-accent;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0.5;
            }

            &>img {
                width: 100%;
                display: block;
            }
        }

        &__info {
            @include flex($flex-col: true);
            background-color: $pr-bg-card;
            padding: 2.5rem 1.5rem;
            text-align: center;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;



            .main-heading {
                .heading-color {
                    color: $pr-accent;
                }
            }

            .paragraph {
                color: $ne-stat-heading;
            }

            .info {
                margin-bottom: 1.5rem;

                .p {
                    text-transform: uppercase;
                    color: $ne-stat-heading;
                    font-size: .8125rem;
                    margin-top: 0.5rem;
                }

                a{
                    text-decoration: none;
                    padding: 1rem 2rem;
                    // background-color: ;
                    color:greenyellow;
                }
            }


        }

    }



}